<div class="container mt-5">
  <h1>New Collection(List)</h1>
  <p>Here we will create a new list of recommendations</p>


  <%= simple_form_for(@list) do |form| %>
    <div class="form-inputs">
    <%= form.input :name, placeholder: "Name your list"%>

  <div class="form-actions mt-4">
    <%= form.button :submit, 'Create List', :class => "btn btn-sm btn-primary" %>
  </div>

    </div>
  <% end %>
</div>
