<div class="container mt-5">

  <div class="box-lists">
    <h1 class="box-lists-text">New Collection</h1>

    <%= simple_form_for(@list) do |form| %>
      <div class="form-inputs text-white">
      <%= form.input :name, label: false, placeholder: "Name your collection", input_html: { class: "form-input-border mt-3"}%>
      </div>

      <div class="form-actions mt-4 d-flex justify-content-center">
        <%= form.button :submit, 'Confirm', :class => "btn btn-sm btn-primary rounded-pill p-2 w-100 mt-1 mb-2" %>
      </div>

    <% end %>
  </div>
</div>
