<div class="container mt-5">

  <div class="box-lists">
    <h1 class="box-lists-text">New Collection</h1>

    <%= simple_form_for(@list) do |form| %>
      <div class="form-inputs text-white">
      <%= form.input :name, placeholder: "Name your list"%>
      </div>

      <div class="form-actions mt-4">
        <%= form.button :submit, 'Create List', :class => "btn btn-sm btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
