<div class="container mt-5">
<!--  <h1>List number <%= @list.id %></h1> -->
   <h1><%= @list.name %> list</h1>

  <p>Here we will create a new list of recommendations</p>

   <%= link_to "X Delete list",
        list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-danger btn-bar text-white btn-sm" %>

</div>
