<div class="container" style="margin-left: 20px;">
<div class="container"></div>
<h1>Here's all of @ Recommendations</h1>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Movie Title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Movie subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
