<div class="container mt-5">
  <h1><strong>Recommendend on the go</strong>  </h1>
  <p>Shoot a quick recommendation to a friend.</p>
  <p>No effort.</p>

  <div class="container mw-100 bg-warning text-dark" style="height: 300px"><h6>[we will have a pretty picture here]</h6></div>
</div>
