.background-gradient {
  background-color: rgb(247,37,133);
  background: linear-gradient(135deg, rgba(247,37,133,1) 0%,
  rgba(114,9,183,1) 30%, rgba(58,12,163,1) 50%, rgba(31,86,209,1) 70%, rgba(76,201,240,1) 100%);
  // height: 100% !important;
  // min-height: 100%;
  // width: 100%;
  // min-width: 100%;
	// display: flex;
	// flex-direction: column;
  height: 100vh !important;
  display: flex;
            justify-content: center;
            align-items: center;
  // padding-bottom: 175px;
}

.background-gradient-forms {
  background-color: rgb(247,37,133);
  background: linear-gradient(135deg, rgba(247,37,133,1) 0%,
  rgba(114,9,183,1) 30%, rgba(58,12,163,1) 50%, rgba(31,86,209,1) 70%, rgba(76,201,240,1) 100%);
  height: 100vh !important;
  padding-top: 100px;
}
