.btn-pill {
  border-radius: 25px !important;
  padding: 5px 10px 5px 10px !important;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-filters {
  border-radius: 25px !important;
  // background-color: rgb(76, 162, 209);
  // color:whitesmoke;
  // border: none;
  padding: 5px 10px 5px 10px !important;
  text-decoration: none;
  transition: 0.3s ease;
  margin-right: 10px;
}

.btn-collapse {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 1000;
  font-size: large;
  border: none;
  margin-left: 0px;
  text-decoration: none;
  background-color: transparent;
  color: whitesmoke;
}

.btn-collapse:hover {
}

.block-collapse {
  background-color:#292929 !important;

}

.btn-clean {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-dropdown {
  background: none;
  font-size: 20px;
  border: none;
  color: #d7d7d7;
}

.btn-download {
  border-radius: 30px !important;
  background-color: #f72585 !important;
  color: white;
  font-family: 'Archivo', sans-serif !important;
  font-weight: 500;
  font-size: 1.4em;
  // color:whitesmoke;
  // border: none;
  padding: 15px 25px 15px 25px !important;
  text-decoration: none !important;
  transition: 0.3s ease;
}
