.btn-pill {
  border-radius: 25px !important;
  padding: 5px 10px 5px 10px !important;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-filters {
  border-radius: 25px !important;
  // background-color: rgb(76, 162, 209);
  // color:whitesmoke;
  // border: none;
  padding: 5px 10px 5px 10px !important;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-collapse {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: large;
  border: none;
  margin-left: 0px;
  text-decoration: none;
  background-color: transparent;
  color: whitesmoke;
}

.btn-collapse:hover {
  background-color: #444;
}

.block-collapse {
  background-color:#323b3b !important;
}

.btn-clean {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
