.img-title {
position: relative;
top: 0px;
align-items: center;
}
.img-how-mandy{
  // position: relative;
  // bottom: 0px;
  width: 475px;
  }
.img-bubble{
  width: 25px !important;
  align-items: right !important;
  position: relative !important;
  top: 0px !important;
}
