.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-mendly-brand {
font-family: 'Sofia Sans Extra Condensed', sans-serif;
font-weight: 1000;
font-style: italic;
font-size:50px;
color: aliceblue;
text-decoration: none !important;
}

.navbar-icons{
  padding: 0px 15px 0px 15px;
  margin: 20px 30px 10px 30px;
}

.navbar-bottom{
  border-radius: 25px 25px 0px 0px;
  background-color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar-bottom-chat{
  border-radius: 25px 25px 0px 0px;
  background-color: #555;
  // position: fixed;
  bottom: 0;
  width: 100%;
}

.dropdown-menu-plus {
  background-color: #333 !important;
  border-radius: 8px 8px 8px 8px !important;
  margin: -5px 0px 0px 0px !important;
}

.dropdown-icons-plus {
  background-color: #333 !important;
  border-radius: 8px 8px 8px 8px !important;
  min-width: auto !important;
}

.dropdown-menu-text {
  color: #ddd !important;
}
.dropdown-menu-text:hover {
  color: white !important;
  background-color: #444 !important;


}
