.title-landing {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: #f72585;
  font-size: 3.5em;
}

.subtitle-landing {
  // font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: 200;
  font-size: 1.7em;
  line-height: 1.9rem;
}
