// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.body-yield {
  background-color: #ffe5a9;
}

.body-search-bar {
  background-color: whitesmoke;
  padding: 20px 20px 20px 20px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
