// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.body-yield {
  // background-color: #ffe5a9;
  background-color: #222;
  color: white;
}

.body-search-bar {
  padding: 20px 20px 20px 20px;
  margin-bottom: 0px;
  position: sticky;
  width: 100%;
  bottom: 0;
  background: black;
}

.search-bar-plus {
  border-radius: 25px !important;
  background-color: #222 !important;
  color: whitesmoke !important;
  // opacity: 20%;
  border: 1px solid whitesmoke !important;
}

.body-search-bar {
  background-color: #222222;
  border-radius: 0%;
  padding: 20px; /* Add spacing around the HTML wrapper */
}

.custom-button {
  margin-left: 10px; /* Add spacing between the button and the HTML wrapper */
}
.alert-info{
  background-color: rgb(40, 40, 40) !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 50px 50px 50px 50px!important;
  border: rgb(0, 0, 0) !important;
  position: relative;
  left: 1px !important;
}
